.row-cli {
  &__commands {
    background: #f7f7f7;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    color: #333;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;

    @media screen and (min-width: 767px) {
      font-size: 1.4rem;
      padding: 1.4rem 0.9rem;
    }

    @media only screen and (min-width: 1030px) {
      font-size: 2rem;
      line-height: 2rem;
      padding: 1.2rem 1rem;
    }

    &-list {
      margin-left: 1rem;
      position: relative;

      @media screen and (max-width: 767px) {
        margin-left: 0.25rem;
      }

      &::after {
        background: #333;
        content: " ";
        display: inline-block;
        height: 1rem;
        margin-left: 2px;
        vertical-align: text-bottom;
        width: 2px;

        @media only screen and (min-width: 767px) {
          height: 1.4rem;
        }

        @media only screen and (min-width: 1030px) {
          height: 2rem;
        }
      }
    }
  }
}
