// Import scss settings
@import "settings";

// Import Vanilla
@import "vanilla-framework";

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// import additional styles
@import "blockquote";
@import "pattern_separator";
@import "row-cli";
@include vanilla;
@include ubuntu-p-separator;

// Custom styles

.p-tab {
  color: $color-mid-dark;

  &:focus,
  &:hover,
  &.active {
    background-color: $color-light;
    text-decoration: none;
  }
}

.u-hide--x-small {
  @media only screen and (max-width: $breakpoint-x-small) {
    display: none;
  }
}

.p-matrix__item:last-of-type {
  @media only screen and (max-width: $breakpoint-x-small) {
    padding-bottom: 0;
  }
}

.last-item::after {
  @media (max-width: $breakpoint-large -1) {
    border-bottom: 1px solid #cdcdcd !important;
  }
}

.p-matrix:nth-of-type(1) .p-matrix__item {
  @media (max-width: $breakpoint-large -1) {
    border-top: 0;
  }
}

.p-card__thumbnail--large {
  max-height: 3rem;
}
