<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}OpenStack on Kubernetes | Ubuntu{% endblock %}
      </title>
      <script src="https://assets.ubuntu.com/v1/703e23c9-lazysizes+noscript+native-loading.5.1.2.min.js"
              defer></script>
      <link rel="preconnect" href="https://www.google-analytics.com" />
      <link rel="preconnect" href="https://www.gstatic.com" />
      <!-- link rel="stylesheet"-->
      <link rel="stylesheet" href="{{ versioned_static("css/styles.css") }}" />
      <!-- Google Analytics and Google Optimize -->
      <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-1018242-59', 'auto', {'allowLinker': true});
  ga('require', 'GTM-WVQJJBD');
  ga('require', 'linker');
  ga('linker:autoLink', ['conjure-up.io', 'login.ubuntu.com', 'www.ubuntu.com',
  'ubuntu.com','cn.ubuntu.com',
  'design.ubuntu.com', 'maas.io', 'canonical.com', 'landscape.canonical.com',
  'pages.ubuntu.com', 'tutorials.ubuntu.com', 'docs.ubuntu.com']);
      </script>
      <!-- End Google Analytics and Google Optimize -->
      <!-- Cookie policy -->
      <script src="/static/js/build/cookie-policy.js"></script>
      <script>
        if (typeof cpNs !== "undefined") {
          cpNs.cookiePolicy();
        }
      </script>
      <!-- Google Tag Manager -->
      <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TDV3PRK');
      </script>
      <!-- End Google Tag Manager -->
      <link rel="apple-touch-icon"
            sizes="180x180"
            href="https://assets.ubuntu.com/v1/f38b9c7e-COF%20apple-touch-icon.png" />
      <link rel="icon"
            type="image/png"
            sizes="32x32"
            href="https://assets.ubuntu.com/v1/be7e4cc6-COF-favicon-32x32.png" />
      <link rel="icon"
            type="image/png"
            sizes="16x16"
            href="https://assets.ubuntu.com/v1/16c27f81-COF%20favicon-16x16.png" />
      <link rel="manifest" href="{{ versioned_static("files/site.webmanifest") }}" />
      <!-- Serving favicon for search engines locally -->
      <link rel="icon" type="image/png" sizes="48x48" href="{{ versioned_static("favicons/COF-favicon-48x48.png") }}" />
      <link rel="preload"
            as="font"
            type="font/woff2"
            href="https://assets.ubuntu.com/v1/e8c07df6-Ubuntu-L_W.woff2"
            crossorigin />
      <link rel="preload"
            as="font"
            type="font/woff2"
            href="https://assets.ubuntu.com/v1/7f100985-Ubuntu-Th_W.woff2"
            crossorigin />
      <link rel="preload"
            as="font"
            type="font/woff2"
            href="https://assets.ubuntu.com/v1/f8097dea-Ubuntu-LI_W.woff2"
            crossorigin />
      <link rel="preload"
            as="font"
            type="font/woff2"
            href="https://assets.ubuntu.com/v1/fff37993-Ubuntu-R_W.woff2"
            crossorigin />
      <meta name="description"
            content="{% block description %}MicroStack delivers distilled OpenStack excellence with native K8s experience. OCI images, Kubernetes operators, lucid interface - all you need to run fully functional OpenStack on Kubernetes with minimal effort.{% endblock %}" />
      <meta name="theme-color" content="#E95420" />
      <meta name="twitter:account_id" content="4503599627481511" />
      <meta name="twitter:site" content="@ubuntu" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="http://microstack.run" />
      <meta property="og:site_name" content="microstack.run" />
      <meta name="twitter:title"
            content="{% if title %}{{ title }} | MicroStack{% else %}OpenStack for the edge, micro clouds and developers{% endif %}" />
      <meta name="twitter:description"
            content="{% if description %}{{ description }}{% else %}MicroStack is a pure upstream OpenStack platform, designed for the edge and small-scale private cloud deployments, that can be installed and maintained with a minimal effort.{% endif %}" />
      <meta property="og:title"
            content="{% if title %}{{ title }} | MicroStack{% else %}OpenStack for the edge, micro clouds and developers{% endif %}" />
      <meta property="og:description"
            content="{% if description %}{{ description }}{% else %}MicroStack is a pure upstream OpenStack platform, designed for the edge and small-scale private cloud deployments, that can be installed and maintained with a minimal effort.{% endif %}" />
      <meta name="copydoc"
            content="{% block meta_copydoc %}https://docs.google.com/document/d/1-QO5zAclj469qGvFmNJBjQ_qqI_T_uliwj6mAo8ZbCs/edit{% endblock %}" />
    </head>
    <body>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TDV3PRK"
        height="0"
        width="0"
        style="display:none;
               visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      {% include "partial/_navigation.html" %}
      <div id="main">
        {% block content %}
        {% endblock content %}
      </div>
      {% include "partial/_footer.html" %}
    </body>
  </html>
