{% extends 'base_layout.html' %}
{% block title %}OpenStack for the edge, micro clouds and developers{% endblock %}

{% block description %}
MicroStack is a pure upstream OpenStack platform, designed for the edge and small-scale private cloud deployments, that can be installed and maintained with a minimal effort.
{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1-QO5zAclj469qGvFmNJBjQ_qqI_T_uliwj6mAo8ZbCs/edit{% endblock %}

{% block content %}

<script defer src="{{ versioned_static('js/osselector.js') }}"></script>

<main id="main-content">
  <section class="p-strip--suru is-dark">
    <div class="row u-vertically-center u-equal-height">
      <div class="col-7">
        <h1> OpenStack for the edge, <br/> micro clouds and developers </h1>
        <p class="p-heading--four"> The most straightforward OpenStack ever. </p>
        <p>
          <a class="p-button--positive" href="#get-started">Try MicroStack</a> &nbsp;and break the ice with OpenStack today
        </p>
      </div>
      <div class="col-5 u-align--center u-hide--small u-hide--medium u-embedded-media">
        <iframe class="u-embedded-media__element" width="560" height="315" src="https://www.youtube.com/embed/fNk7AfxNggc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </section>
  <section class="p-strip">
    <div class="row">
      <div class="p-notification--caution">
        <div class="p-notification__content">
          <p class="p-notification__message">
            <strong>Note:</strong> MicroStack is in a beta state. We encourage you to test it, give us your <a href="https://bugs.launchpad.net/microstack">feedback</a> and <a href="https://discourse.juju.is/search?q=microstack">ask questions</a>. For information about commercial support for MicroStack, <a href="https://ubuntu.com/openstack/contact-us">contact Canonical</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8" style="margin-top: 2rem;">
        <h2>Straightforward installation</h2>
        <h3 class="p-heading--4">Fully functional OpenStack in 2 commands and ~20 minutes.</h3>
      </div>
      <div class="row-cli__commands">$ sudo<span class="row-cli__commands-list typer" id="main" data-words="snap install microstack --beta --devmode,microstack init --auto --control" data-delay="50" data-deleteDelay="5000" data-colors="#111111"></span></div>
      <p>
        <a href="https://ubuntu.com/openstack/tutorials">MicroStack tutorial</a>
      </p>
    </div>
  </section>
  <section class="p-strip--light">
    <div class="row u-equal-height">
      <div class="col-4 p-divider__block u-vertically-center">
        <h3 class="u-align--center">7 contributors</h3>
      </div>
      <div class="col-4 p-divider__block u-vertically-center">
        <h3 class="u-align--center">~250 commits</h3>
      </div>
      <div class="col-4 p-divider__block u-vertically-center">
        <h3 class="u-align--center" style="margin-left: 1.5rem; margin-right: 1.5rem;">~1,500 active installations</h3>
      </div>
    </div>
  </section>
  <section class="p-strip">
      <div class="row">
        <div class="col-6">
          <h2>OpenStack for the edge</h2>
          <h3 class="p-heading--4">Comprehensive cloud platform for distributed low-latency applications</h3>
          <p>MicroStack answers the needs of edge computing, providing a secure, reliable and scalable cloud platform with minimal footprint and simplified lifecycle management capabilities.</p>
          <p>All to meet the requirements of the most demanding applications in telecom, industrial, automotive and other market sectors that need edge infrastructure.</p>
          <p>
            <a href="https://ubuntu.com/blog/edge-computing-is-dead-long-live-micro-clouds-and-iot-gateways" >Read a blog about Canonical's edge strategy</a>
          </p>
        </div>
        <div class="col-6 u-hide--small u-hide--medium u-align--center u-vertically-center">
          <img src="https://assets.ubuntu.com/v1/dcb2963c-openstack+cloud+outlines.svg" style="height: 225px; width: 394px;" alt="">
        </div>
        <hr class="p-separator" />
      </div>
      <div class="row">
        <div class="col-6 u-hide--small u-hide--medium u-align--center u-vertically-center">
          <img src="https://assets.ubuntu.com/v1/e2bf84de-edge-cluster.svg" style="height: 225px; width: 234px;" alt="">
        </div>
        <div class="col-6">
          <h2>OpenStack for micro clouds</h2>
          <h3 class="p-heading--4">Small-scale cost-efficient private cloud infrastructure</h3>
          <p>OpenStack private cloud implementation used to be challenging due to the complexity of OpenStack and its scale. This is no longer the case.</p>
          <p>MicroStack enables enterprises to quickly deploy cost-efficient private cloud infrastructure from single-node installations to micro cloud clusters.</p>
          <p>
            <a href="https://ubuntu.com/openstack/features" >For large-scale deployments try Charmed OpenStack</a>
          </p>
        </div>
        <hr class="p-separator" />
      </div>
      <div class="row">
        <div class="col-6">
          <h2>OpenStack for developers</h2>
          <h3 class="p-heading--4">On your workstation, in your CI/CD environment</h3>
          <p>Designed for devices with minimal hardware resources, MicroStack is perfectly suitable for developer workstations and CI/CD environments.</p>
          <p>If you are using OpenStack in production, MicroStack effectively connects the dots between your cloud operations team and developers. </p>
          <p>
            <a href="https://www.openstack.org/videos/summits/virtual/OpenStack-on-rails-meet-MicroStack" >Watch MicroStack in action</a>
          </p>
        </div>
        <div class="col-6 u-hide--small u-hide--medium u-align--center u-vertically-center">
          <img src="https://assets.ubuntu.com/v1/d1782e3a-dev-at-laptop.svg" style="height: 225px; width: 208px;" alt="">
        </div>
      </div>
  </section>
  <section class="p-strip--suru is-dark">
    <div class="row">
      <div class="col-6">
        <h2>Share your use case</h2>
        <p>Web applications, AI/ML or maybe telco NFV? What are you using MicroStack for? Do not hesitate and share your use case, and benefit from the community collaboration and help.</p>
        <p>
          <a href="https://discourse.charmhub.io/search?q=microstack"  style="color:#fff">Share your use case&nbsp;&rsaquo;</a>  
        </p>
      </div>
    </div>
  </section>
  <section class="p-strip is-deep">
    <div class="row">
      <div class="col-6">
        <h2 class="u-sv2">Open source cloud</h2>
        <p>MicroStack is a pure upstream OpenStack distribution which effectively decreases virtualisation costs. It is a reasonable alternative to VMware clusters, Microsoft Hyper-V, Citrix Hypervisor and Proxmox Virtualization Environment.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 p-card">
        <h3>OpenStack community project</h3>
        <hr class="u-sv1">
        <p>MicroStack is an Openstack community project with optional commercial support available from Canonical. It benefits from the 10 year maturity of OpenStack, its stability and community collaboration.</p>
        <p><a href="https://discourse.charmhub.io/search?q=microstack" >Join the community</a></p>
      </div>
      <div class="col-6 p-card">
        <h3>All-in one OpenStack</h3>
        <hr class="u-sv1">
        <p>MicroStack is an OpenStack in a snap. This means that all OpenStack components and their dependencies are packaged together inside of a single image that runs in isolation, ensuring high-level security.</p>
        <p><a href="https://snapcraft.io/microstack" >Learn more about snaps</a></p>
      </div>
      <div class="col-6 p-card">
        <h3>Single-node OpenStack</h3>
        <hr class="u-sv1">
        <p>Single-node installation is usually the first step to try OpenStack. MicroStack supports this use case, providing the ability to deploy fully functional OpenStack on a single machine with just 2 commands.</p>
        <p><a href="/docs/single-node">Read single-node installation instructions&nbsp;&rsaquo;</a></p>
      </div>
      <div class="col-6 p-card">
        <h3>Multi-node OpenStack</h3>
        <hr class="u-sv1">
        <p>In order to meet the demand for multi-node OpenStack deployments, MicroStack also supports clustering with one node acting as a cloud controller and other nodes acting as hypervisors.</p>
        <p><a href="/docs/multi-node">Read multi-node installation instructions&nbsp;&rsaquo;</a></p>
      </div>
    </div>
  </section>
  <section class="p-strip--light">
    <div class="row">
      <div class="col-7">
        <h2>OpenStack on rails</h2>
        <h3 class="p-heading--4">OpenStack has tens of components and options. Not everyone needs this complexity.</h3>
        <p>MicroStack includes core OpenStack services and the most popular compute, network and storage options. This eliminates the OpenStack complexity and provides an “on rails” experience.</p>
       </div>
    </div>  
    <div class="row u-equal-height">
      <div class="col-3 col-medium-2">
        <ul class="p-list u-no-margin--bottom">
          <li class="p-list__item is-ticked" style="border-bottom: 0">Keystone</li>
          <li class="p-list__item is-ticked">Horizon</li>
          <li class="p-list__item is-ticked last-item">Glance</li>
        </ul>
      </div>
      <div class="col-3 col-medium-2">
        <ul class="p-list u-no-margin--bottom">
          <li class="p-list__item is-ticked">Nova</li>
          <li class="p-list__item is-ticked">Neutron</li>
          <li class="p-list__item is-ticked last-item">Cinder</li>
      </div>
      <div class="col-3 col-medium-2">
        <ul class="p-list">
          <li class="p-list__item is-ticked">KVM</li>
          <li class="p-list__item is-ticked">OVN</li>
          <li class="p-list__item is-ticked last-item">Local storage</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="p-strip" id="get-started" role="tablist">
    <div class="u-fixed-width">
      <h2>Try MicroStack</h2>
      <div class="p-notification--information">
        <div class="p-notification__content">
          <p class="p-notification__message">
            MicroStack requires at least a multi-core CPU, 8 GB of RAM and 100 GB of storage.
          </p>
        </div>
      </div>
      <h3>What OS are you on?</h3>
    </div>
    <div class="row u-equal-height u-sv2">
      <a id="tab-one" href="#tab-one__content"
        class="col-small-2 col-medium-2 col-4 p-card p-tab u-align--center u-vertically-center js-tab" role="tab">
        <img src="https://assets.ubuntu.com/v1/53c3be42-linuc-logo.svg" style="height: 90px; margin-top: 1rem;" alt="">
        <p class="p-heading--four" class="p-heading--five p-tab__title">Linux</p>
      </a>
      <a id="tab-two" href="#tab-two__content"
        class="col-small-2 col-medium-2 col-4 p-card p-tab u-align--center u-vertically-center js-tab" role="tab">
        <img src="https://assets.ubuntu.com/v1/11ecbd2d-2018-logo-windows.svg" style="height: 145px;" alt="Windows">
      </a>
      <a id="tab-three" href="#tab-three__content"
        class="col-small-2 col-medium-2 col-4 p-card p-tab u-align--center u-vertically-center js-tab" role="tab">
        <img src="https://assets.ubuntu.com/v1/236f314d-macos.svg" style="height: 145px;" alt="macOS">
      </a>
    </div>
    <div class="row">
      <div class="col-6 js-tab__content" id="tab-one__content" role="tabpanel" aria-labelledby="tab-one">
        <ol class="p-stepped-list u-no-margin--left">

          <li class="p-stepped-list__item">
            <h3 class="p-stepped-list__title u-sv2">Install MicroStack</h3>
            <div class="p-stepped-list__content">
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block--icon"><code>sudo snap install microstack --beta --devmode</code></pre>
              </div>
              <p><code>snap</code> command not found? <a href="https://docs.snapcraft.io/installing-snapd">Install snapd</a>.</p>
            </div>
          </li>

          <li class="p-stepped-list__item">
            <h3 class="p-stepped-list__title u-sv2">Set up MicroStack</h3>
            <div class="p-stepped-list__content">
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block--icon"><code>sudo microstack init --auto --control</code></pre>
              </div>
            </div>
          </li>
          <li class="p-stepped-list__item">
            <h3 class="p-stepped-list__title u-sv2">Launch a VM</h3>
            <div class="p-stepped-list__content">
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block--icon"><code>microstack launch cirros --name test</code></pre>
              </div>
              <p>Your VM is up and running now. You should see a message like:</p>
              <p>Access your server with <code class="highlighter-rouge">ssh -i /home/ubuntu/snap/microstack/common/.ssh/id_microstack cirros@10.20.20.3</code></p>
            </div>
          </li>
        </ol>
        <p>
          That's it! Your micro cloud is ready. You can now follow with <a href="https://ubuntu.com/openstack/tutorials" >MicroStack tutorials</a>.
        </p>
      </div>
      <div class="col-9 js-tab__content" id="tab-two__content" role="tabpanel" aria-labelledby="tab-two">
        <ol class="p-stepped-list u-no-margin--left">
          <li class="p-stepped-list__item">
            <h3 class="p-stepped-list__title u-sv2">Install Multipass</h3>
            <p class="p-stepped-list__content u-stepped-list-margin">
              <a href="https://multipass.run/download/windows" class="p-button--positive" data-os="win-win">
                Download
              </a>
            </p>
          </li>
          <li class="p-stepped-list__item">
            <h3 class="p-stepped-list__title u-sv2">Get a VM with Linux</h3>
            <div class="p-stepped-list__content">
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block--icon"><code>multipass launch --name microstack-vm --mem 8G --disk 100G</code></pre>
              </div>
            </div>
          </li>
          <li class="p-stepped-list__item">
            <h3 class="p-stepped-list__title u-sv2">Install MicroStack</h3>
            <div class="p-stepped-list__content">
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block--icon"><code>multipass exec microstack-vm -- sudo snap install microstack --beta --devmode</code></pre>
              </div>
            </div>
          </li>
          <li class="p-stepped-list__item">
            <h3 class="p-stepped-list__title u-sv2">Set up MicroStack</h3>
            <div class="p-stepped-list__content">
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block--icon"><code>sudo microstack init --auto --control</code></pre>
              </div>
            </div>
          </li>
          <li class="p-stepped-list__item">
            <h3 class="p-stepped-list__title u-sv2">Launch a VM</h3>
            <div class="p-stepped-list__content">
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block--icon"><code>microstack launch cirros --name test</code></pre>
              </div>
              <p>Your VM is up and running now. You should see a message like:</p>
              <p>Access your server with <code class="highlighter-rouge">ssh -i /home/ubuntu/snap/microstack/common/.ssh/id_microstack cirros@10.20.20.3</code></p>
            </div>
          </li>
        </ol>
        <p>
          That's it! Your micro cloud is ready. You can now follow with <a href="https://ubuntu.com/openstack/tutorials">MicroStack tutorials</a>.
        </p>
      </div>
      <div class="col-9 js-tab__content" id="tab-three__content" role="tabpanel" aria-labelledby="tab-three">
        <ol class="p-stepped-list u-no-margin--left">
          <li class="p-stepped-list__item">
            <h3 class="p-stepped-list__title u-sv2">Install Multipass</h3>
            <p class="p-stepped-list__content ">
              <a href="https://multipass.run/download/macos" class="p-button--positive" data-os="mac">
                Download
              </a>
            </p>
          </li>
          <li class="p-stepped-list__item">
            <h3 class="p-stepped-list__title u-sv2">Get a VM with Linux</h3>
            <div class="p-stepped-list__content">
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block--icon"><code>multipass launch --name microstack-vm --mem 8G --disk 100G</code></pre>
              </div>
            </div>
          </li>
          <li class="p-stepped-list__item">
            <h3 class="p-stepped-list__title u-sv2">Install MicroStack</h3>
            <div class="p-stepped-list__content">
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block--icon"><code>multipass exec microstack-vm -- sudo snap install microstack --beta --devmode</code></pre>
              </div>
            </div>
          </li>
          <li class="p-stepped-list__item">
            <h3 class="p-stepped-list__title u-sv2">Set up MicroStack</h3>
            <div class="p-stepped-list__content">
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block--icon"><code>sudo microstack init --auto --control</code></pre>
              </div>
            </div>
          </li>
          <li class="p-stepped-list__item">
            <h3 class="p-stepped-list__title u-sv2">Launch a VM</h3>
            <div class="p-stepped-list__content">
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block--icon"><code>microstack launch cirros --name test</code></pre>
              </div>
              <p>Your VM is up and running now. You should see a message like:</p>
              <p>Access your server with <code class="highlighter-rouge">ssh -i /home/ubuntu/snap/microstack/common/.ssh/id_microstack cirros@10.20.20.3</code></p>
            </div>
          </li>
        </ol>
        <p>
          That's it! Your micro cloud is ready. You can now follow with <a href="https://ubuntu.com/openstack/tutorials" >MicroStack tutorials</a>.
        </p>
      </div>
    </div>
  </section>
  <section class="p-strip--light">
    <div class="row u-vertically-center">
      <div class="col-6">
        <h2>The team behind MicroStack</h2>
        <p>MicroStack is maintained by the <a href="https://ubuntu.com/openstack">OpenStack team at Canonical</a>. We provide OpenStack packages on Ubuntu and have two OpenStack distributions of our own. MicroStack is an on-rails, opinionated OpenStack for the edge, micro clouds and developers. <a href="https://ubuntu.com/openstack/features">Charmed OpenStack</a> is a composable enterprise OpenStack for large scale deployments in data centres.</p>
      </div>
      <div class="col-5 u-hide--small u-hide--medium u-align--center">
        <img src="https://assets.ubuntu.com/v1/60d9b81e-picto-canonical.svg" alt="Canonical" style="width : 160px; height:160px">
      </div>
    </div>
  </section>
  <section class="p-strip is-deep">
    <div class="row u-vertically-center">
      <div class="col-5 col-medium-2 u-hide--small u-align--center">
        <img src="https://assets.ubuntu.com/v1/c4b290c8-Contact+us.svg" alt="Contact us" style="width : 240px; height:171px">
      </div>
      <div class="col-7 col-medium-4">
        <h2>Get in touch</h2>
        <p>Let's talk about your edge and micro cloud plans.</p>
        <p>
          <a class="p-button--positive" href="https://ubuntu.com/openstack/contact-us">
            Contact us
          </a>
        </p>
      </div>
    </div>
  </section>
</main>
<script src="{{ versioned_static('js/typer.js') }}" defer></script>
<script defer src="{{ versioned_static('js/tabs.js') }}"></script>

{% endblock %}
