<header id="navigation" class="p-navigation">
    <div class="p-navigation__row">
      <div class="p-navigation__banner">
        <div class="p-navigation__logo u-vertically-center">
          <a class="p-navigation__item" href="/" style="color:white;">
            MicroStack
          </a>
        </div>
      </div>
      <nav class="p-navigation__nav">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
        <ul class="p-navigation__items" role="menu">
          <li class="p-navigation__item" role="menuitem">
            <a class="p-navigation__link" href="/docs">Docs</a>
          </li>
          <li class="p-navigation__item" role="menuitem">
            <a class="p-navigation__link" href="https://opendev.org/x/microstack">Contribute</a>
          </li>
          <li class="p-navigation__item" role="menuitem">
            <a class="p-navigation__link" href="https://bugs.launchpad.net/microstack/+filebug">Report a bug</a>
          </li>
          <li class="p-navigation__item" role="menuitem">
            <a class="p-navigation__link" href="https://discourse.charmhub.io/search?q=microstack">Community</a>
          </li>
        </ul>
      </nav>
    </div>
</header>
