<header id="navigation" class="p-navigation">
    <div class="p-navigation__row">
      <div class="p-navigation__banner">
        <div class="p-navigation__logo u-vertically-center">
          <a class="p-navigation__link" href="/" style="color:white;">
            MicroStack
          </a>
        </div>
      </div>
      <nav class="p-navigation__nav">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
        <ul class="p-navigation__links" role="menu">
          <li class="p-navigation__link" role="menuitem">
            <a href="/docs">Docs</a>
          </li>
          <li class="p-navigation__link" role="menuitem">
            <a class="p-link--external" href="https://opendev.org/x/microstack">Code</a>
          </li>
          <li class="p-navigation__link" role="menuitem">
            <a class="p-link--external" href="https://bugs.launchpad.net/microstack">Bugs</a>
          </li>
        </ul>
      </nav>
    </div>
</header>
