<header id="navigation" class="p-navigation">
    <div class="p-navigation__row">
      <div class="p-navigation__banner">
        <div class="p-navigation__tagged-logo">
          <a class="p-navigation__link" href="/">
            <div class="p-navigation__logo-tag">
              <img class="p-navigation__logo-icon" src="https://assets.ubuntu.com/v1/82818827-CoF_white.svg" alt="">
            </div>
            <span class="p-navigation__logo-title">Canonical MicroStack</span>
          </a>
        </div>
        <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
        <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
      </div>
      <nav class="p-navigation__nav">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
        <ul class="p-navigation__items" role="menu">
          <li class="p-navigation__item" role="menuitem">
            <a class="p-navigation__link" href="/docs">Docs</a>
          </li>
          <li class="p-navigation__item" role="menuitem">
            <a class="p-navigation__link" href="https://matrix.to/#/#openstack-sunbeam:ubuntu.com">Chat</a>
          </li>
          <li class="p-navigation__item" role="menuitem">
            <a class="p-navigation__link" href="https://github.com/openstack-snaps/snap-openstack">Contribute</a>
          </li>
          <li class="p-navigation__item" role="menuitem">
            <a class="p-navigation__link" href="https://bugs.launchpad.net/snap-openstack/+filebug">Report a bug</a>
          </li>
          <li class="p-navigation__item" role="menuitem">
            <a class="p-navigation__link" href="https://ubuntu.com/pro">Get commercial support</a>
          </li>
        </ul>

        <ul class="p-navigation__items global-nav"></ul>
      </nav>
    </div>
</header>
